.btn {
    border-radius: 0px;
}
.btn-primary{
    background-color:#ffd607;
    border-color:#ffd607;
}
.btn-primary:hover{
    color:#fff;
    background-color:#ffef75;
    border-color:#ffef75
}
.btn-primary.focus,
.btn-primary:focus{
    color:#fff;
    background-color:#ffef75;
    border-color:#ffef75;
    box-shadow:0 0 0 .2rem rgba(255, 239, 117,.0)
}
.btn-primary.disabled,
.btn-primary:disabled{
    color:#fff;
    background-color:#ffd607;
    border-color:#ffd607;
}
.btn-primary:hover{
    color:#fff;
    background-color:#ffef75;
    border-color:#ffef75
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle{
    color:#fff;
    background-color:#ffd607;
    border-color:#ffd607
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(255, 239, 117,.0)
}
.btn-danger:focus{
    box-shadow:0 0 0 .2rem rgba(225,83,97,.0)
}
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(225,83,97,.0)
}

.breadcrumb{
    background-color:white;
    border-radius:.0rem;
    padding-bottom: 0px;
}
.breadcrumb-item.active{
    color:#ffd607
}
.form-control{
    border-radius: 0rem;
}
.form-control:focus{
    border-color:#ffef75;
    box-shadow:0 0 0 .2rem rgba(255, 239, 117, .45);
    opacity:1;
}
.form-control:hover{
    border-color:#d6be06;
}
.form-control[readonly]{
    background-color:#fff6b3 !important;
    opacity:1;
}

.form-control:-moz-focusring{
    color:transparent;
    text-shadow:0 0 0 #d6be06;
}
.form-control::-webkit-input-placeholder{
    color:#d6be06;
    opacity:1;
}
.form-control::-moz-placeholder{
    color:#d6be06;
    opacity:1;
}
.form-control:-ms-input-placeholder{
    color:#d6be06;
    opacity:1;
}
.form-control::-ms-input-placeholder{
    color:#d6be06;
    opacity:1;
}
.form-control::placeholder{
    color:#d6be06;
    opacity:1;
}
.form-control:focus::-ms-value{
    color:#d6be06;
    background-color:#fff
}
.form-check-label{
    color:#d6be06;
}
.input-group-text{
    color:#495057;
    background-color:#d6be06;
    border:1px solid #d6be06;
}
.card-footer{
    background-color:rgba(0,0,0,.03);
    border-top:1px solid rgba(0,0,0,.0)
}
.btn-link{
    font-weight:400;
    color:#d6be06 !important;
    text-decoration:none;
}

.btn.btn-link{
    font-weight:400;
    color:#495057 !important;
    text-decoration:none;
}

.btn-link:hover{
    color:#d6be06 !important;
    text-decoration:none;
}
.btn-link.focus,
.btn-link:focus{
    color:#d6be06 !important;
    text-decoration:none;
    box-shadow:none;
}.btn-link.disabled,
 .btn-link:disabled{
     color:#6c757d;
     pointer-events:none;
 }
.card {
    background-color: #ffffff !important;
    border: 1px solid rgba(214, 190, 6, .99);
    border-radius: 0rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.0);
    border-bottom: 1px solid rgba(214, 190, .99);
}
.space{
    margin-bottom: 50px;
}